
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-handle{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.hover-effect{
  width: 36px;
  height: 28px;
  position: relative;
}
.hover-element{
  display: none;
  position: absolute;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  opacity: 0.9;
  cursor: pointer;
  background-color: rgba(0, 81, 255, 0.636);

}
 

.hover-effect:hover .hover-element{
  display: block;
  z-index: 100;
}

